@page "/Admin/View/Diet"
@using homegains.Controllers.AdminController
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject AddPlan AddPlan
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "AdminOnly")]


@if (AddPlan.shwDays == false)
{
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>100 Days View</h2>
                <p class="w-lg-50">Track your tasks and events for the next 100 days with our daily cards.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-5">
            <!-- Example for the first few days -->
            @foreach (var days in AddPlan.Shedules)
            {
                <div class="col">
                    <div class="day-card">
                        <div class="card-body">
                            <h4 class="day-title p-0 m-0">Day @days.days</h4>
                            <p class="p-0 m-0 my-1">Shedule by Day @days.days</p>
                            <button class="btn btn-primary" @onclick="(() => AddPlan.showDayPlanAdd(days.ID))">Add</button>
                        </div>
                    </div>
                </div>
            }
            <!-- Repeat the above pattern for each day up to Day 100 -->
        </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
            <a href="#">...</a>
            <a href="#">100</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
}


@if (AddPlan.shwDays)
{
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8">
                <h1 class="p-0 m-0">Diet Plan</h1>
                <p class="p-0 m-0"></p>
            </div>
            <div class="col-md-4 justify-content-end">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger h-100" style="width:120px;" @onclick="@AddPlan.closeDayPlan">Close</button>
                </div>
            </div>
        </div>

        <!-- Diet Plan Form -->
        <form class="p-3">

            <div class="form-group">
                <label for="mealType">Food Catogary</label>
                <select class="form-control" id="foodCatogary" @bind="@AddPlan.DietPlans.FoodCatogary">
                    <option>Standard Diet</option>
                    <option>Vegetarian Diet</option>
                    
                </select>
            </div>

            <div class="form-group">
                <label for="mealTime">Meal Time</label>
                <input type="time" class="form-control" id="mealTime" @bind-value="@AddPlan.DietPlans.MealTime">
            </div>

            <div class="form-group">
                <label for="mealType">Day Catogary</label>
                <select class="form-control" id="DayCatogary" @bind="@AddPlan.DietPlans.DayCatogary">
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                    <option>Snack</option>
                </select>
            </div>

            <div class="form-group">
                <label for="foodItems">Food Items</label>
                <input type="text" class="form-control" id="foodItems" @bind-value="@AddPlan.DietPlans.FoodItems" placeholder="Enter food items">
            </div>
            @if (AddPlan.hideShowDiet)
            {
                <button type="button" class="btn btn-primary btn-block" @onclick="@AddPlan.UpdatedietPlan">Update</button>
            }
            else
            {
                <button type="button" class="btn btn-primary btn-block" @onclick="@AddPlan.AddDiatPlan">Save Diet Plan</button>
            }

            
        </form>
        
        <!-- Diet Plan List -->
        @if (AddPlan.hideShowDiet == false
        )
        {
            <h2 class="text-center my-4">Diet Plan List</h2>
            <div class="list-group">
                @foreach (var diet in AddPlan.DietPlanls)
                {
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row p-3">
                            <div class="col-md-8">

                                <div class="d-flex justify-content-between align-items-center align-self-center">
                                    <div>
                                        <h4 class="p-0 m-0">@diet.FoodCatogary : </h4>
                                        <p class="mb-1">@diet.FoodItems</p>
                                    </div>
                                    <div class="text-end d-grid">
                                        <small>@diet.DayCatogary</small>
                                        <h4 class="p-0 m-0">@diet.MealTime</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex justify-content-between align-items-center align-self-center">
                                <button class="btn form-control btn-primary" type="button" @onclick="(()=> AddPlan.loadDataAndUpdate(diet.Id))">Update</button>
                                <div class="px-2"></div>
                                <button class="btn form-control btn-danger" type="button" style="border-radius:4px;" @onclick="(() => AddPlan.deleteDietPlan(diet.Id))">Delete</button>
                            </div>
                        </div>
                    </div>
                }
                <!-- Repeat for more items -->
            </div>
        }
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await AddPlan.loadAllDays();
    }
}
